extends ../layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in commentList
          li.publication__list-item(class=(comment == commentList[commentList.length - 1] ? 'publication__list-item--last' : ''))
            .publication__header
              img.publication__list-image(src=comment.users.avatarPath, width='20', height='20', alt='Аватар пользователя')
              b.publication__list-name=comment.users.name
              time.publication__item-time(datetime=comment.createdAt)=comment.createdDate
            a.publication__item-text(href='#')=comment.text
            p.publication__text-strong=comment.text
            input.article_id(type='hidden', name='article_id', value=comment.articleId)
            input.comment_id(type='hidden', name='comment_id', value=comment.id)
            button.publication__button.button.button--close-item.button--comment-delete(type='button')
              span.visually-hidden Закрыть строку списка
